.bl-errorpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.error-number {
  font-size: 288px;
  font-weight: 700;
  line-height: 411px;
  letter-spacing: 0em;
  text-align: center;
  /* color: #2c3e50; */
  color: #42b983;

  ;
}

.message-errorpage {
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  /* color: #42b983; */
  color: #2c3e50;
  text-align: center;

}

